*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  margin-bottom: 50%;
  margin-left: 30%;
  margin-top: 10%;
}

.thead-container{
  display: flex;
  
}

.fds-container{
  width: 40rem;
  height: 25rem;
}

.img-lg-sus{
  width: 4rem;
  height: 4rem;
}

.img-lg-pft-mba{
  width: 4rem;
  height: 4rem;
}

.section-container div{
  display: flex;
}